@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
	padding: 0;
	margin: 0;
	border: 0;
}
body, html{
	height: 2000px;
}
body{
	/*font-family: 'Open Sans', sans-serif;*/
	overflow-y: scroll;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 1px;
}
h1{
}
h2{
	margin: 0;
	padding: 0;
}
h3{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a:hover, a:focus{
	color: black;
	text-decoration: none;
}
.clr{
	clear: both;
}
.row{
	margin: 0;
	padding: 0;
}
div#mini_share{
	display: none!important;
}
.header-wrapper {
	background-color: white;
	padding-top: 40px;
}
.header{
	margin: 0 auto;
}
.banner-img{
	display: none;
}
.navbar-wrapper{
	width: 220px;
	margin: 0 auto;
	float: none;
}
.navbar-toggle{
	margin-right: 20px;
}
.navbar{
		background: url('../images/grunge.png');
}
.profil{
	background: url('../images/profil.png');
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 27px;
	margin-top: 8px;
}
.top-menu-wrapper{
}
.account-container-wrapper{
	width: 1000px;
	margin: 0 auto;
}
.navbar-default .navbar-toggle{
	background-color: white;
}
@media screen and (min-width:700px){
	.player{
		background: url('../images/london_bg.jpg') no-repeat fixed center top / cover transparent;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-position: 100% 80%;
		background-size: cover;
		height: 530px;
		width: 100%!important;
		font-family: 'GothamBook', sans-serif;
		color: white;
		margin-top: -50px;
		margin-bottom: 50px;
	}
	.account-container{
		height: 420px;
		width: 95%;
		margin: 40px auto;
		background-color: #f7f7f7;
	}
	.account-menu{
		background-color: #32004b;
		margin-left: -15px!important;
	}
	.account-information{
		text-align: center;
		padding-top: 20px
	}
	.account-information img{
		margin-bottom: 10px;
		border: 4px solid #60045e;
	}
	.account-information p{
		margin-bottom: 5px;
		font-size: 15px;
	}
	.account-information p:last-child{
		font-size: 12px;
	}
	.account-information ul{
		text-align: center;
		list-style-type: none;
		margin-top: 40px;
		padding-bottom: 57px
	}
	.account-information li{
		height: 50px;
		color: white;
		line-height: 50px;
		border-bottom: 1px solid #48195f;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}
	.account-information li.selected{
		background-color: white;
		color: #6f38a4;
		font-weight: bold;
	}
	.content-container{
		width: 922px;
		margin: 0 auto;
	}
	.news-menu ul li{
		display: inline;
	}
	.news-menu ul li a span{
		font-size: 23px;
		color: #202020;
		font-weight: bold;
		text-align: center;
		margin: 10px;
	}
	.active span{
		color: #773D8E!important;
		border-bottom: 2px solid #773D8E;
		padding-bottom: 5px;
	}
	.news-menu ul li a span:hover{
		color: #773D8E!important;
	}
		.musicevents{
		overflow: hidden;
		padding-top: 10px;
		border: 1px solid #DDDDDD;
		margin-bottom: 20px;
	}
	.readNewsTable{
		display: table;
		width: 695px;
		background-color: transparent;
		border: 0px solid #fff;
		text-align: center;
		margin-bottom: 5px!important;
		border-spacing: 0px;
	}
	.readNewsRow{
		display: table-row;
		width: auto;
		margin-right: 5px!important;
	}
	.readNewsCellLeft{
		float: left;
		display: table-column;
		width: 672px;
		padding-bottom: 10px;
		background-color: transparent;
		text-align: left;
		margin-left: 10px!important;
		padding-right: 6px;
		border-bottom: 1px solid #DDDDDD;
	}
	.readNewsCellLeft div{
		height: 330px;
		width: 700px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	.readNewsCellLeft a{
		color: #773D8E;
		text-decoration: none;
		overflow: hidden;
	}
	.musicevents img{
		margin: 0 10px 10px 0;
		float: left;
	}
	.news-mainsection img{
		width: 80%;
	}
	.readNewsBox{
		float: left;
		text-align: right;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.readNewsBox:nth-child(1), .readNewsBox:nth-child(2), .readNewsBox:nth-child(3){
		border-bottom: 1px solid #DDDDDD;
	}
	.readNewsBox div{
		float: left;
		height: 113px!important;
		padding-top: 0px;
		position: relative;
		z-index: 10;
	}
	.readNewsTable div p{
		color: #333333;
		font-weight: normal;
		margin-bottom: 0px;
		font-size: 13px;
	}
	.readNewsTable div p a{
		font-weight: bold;
	}
	.readNewsBox img{
		float: left;
		padding: 0;
		margin: 0 20px 0 0!important;
		width: 100%;
		height: 100%;
	}
	.articles-content{
		text-align: left;
		margin-left: 20px;
	}
	.readNewsRow a{
		color: rgb(119, 61, 142);
		font-weight: 600;
	}
	.articles-content p a{
		font-size: 20px;
		margin-top: 5px;
	}
	.article-author{
		display: block;
		width: 100%;
		margin-bottom: 5px!important;
		color: #989898 !important;
		font-weight: normal;
		font-style: italic;
	}
	.article-author a{
		font-size: 14px !important;
		color: #989898 !important;
		font-weight: normal !important;
		margin: 0 !important;
	}
	.readNewsBox p{
		width: 400px;
	}
	.news-menu{
		margin-bottom: 30px
	}
	.gl-events-wrapper{
		width: 94%;
	}
	.gl-events-box{
		width: 10000px;
	}
	.gl-events-top{
		width: 100%;
		height: 34px;
		line-height: 38px;
		font-size: 19px;
		color: #773E8F;
		font-weight: 600;
		text-transform: uppercase;
		margin: 6px 0 32px 19px;
	}
	.gl-events{
		overflow: hidden;
		margin-left: 0px;
		height: 320px;
	}
	span.arrow-left{
		background: url('../images/next-arrow.png');
		float: left;
		margin-top: 115px;
		height: 33px;
		width: 20px;
		-webkit-transform: rotate(180deg);
		display: inline-block
	}
	span.arrow-right{
		background: url('../images/next-arrow.png');
		background-repeat: no-repeat;
		float: right;
		height: 287px;
		right: 17px;
		padding-top: 212px;
		width: 20px;
		margin-top: 119px;
		display: inline-block;
	}
	.gl-event, .gl-event-two {
		width: 170px;
		height: 250px;
		float: left;
		margin-left: 20px;
	}
	.gl-event-content{
		margin-top: 10px;
		border-top: 1px solid #b1b1b1;
		border-bottom: 1px solid #b1b1b1;
		text-align: center;
	}
	.gl-event-content h2{
		color: #773D8E;
		font-size: 17px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1;
		font-weight: 600;
		margin-top: 10px;
	}
	.gl-event-content h3{
		font-size: 14px;
		margin-top: 5px;
		color: #000000;
		margin-bottom: 10px;
	}
	.news-menu-right-title h3 a:hover{
		color: #000000!important;
	}
	.news-menu-right-title h3 a{
		color: #CCCCCC;
	}
	.news-menu-right-title h3{
		float: left;
		font-weight: bold!important;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 6px;
		margin-bottom: 34px;
	}
	.active-news-title{
		color: #000000!important;
	}
	.news-flash{
		
	}
	.news-flash .active-news-title{
		font-size: 20px;
		font-weight: bold;
		display: block;
		margin-bottom: 20px;
	}
	.flash-list{
		width: 100%;
	}
	.news_flash_first{
		border-bottom: 1px solid #DDDDDD;
		text-align: center;
		margin-bottom: 16px;
	}
	.flash-img {
		height: 160px;
		overflow: hidden;
		margin-bottom: -15px;
	}
	.news_flash_first h4{
		line-height: 50px;
		margin-bottom: -24px;
		font-size: 16px;
		color: #773D8E;
		font-weight: 600;
	}
	span.title{
		font-size: 20px;
		font-weight: bold;
		display: block;
		margin-bottom: 20px;
		color: black;
		padding-left: 17px;
		width: 100%;
		float: left;
		border-bottom: 1px solid #DDDDDD;
	}
	span.more{
		height: 0px;
		font-size: 0.8em;
		color: black;
		display: block;
		float: right;
		border: 1px solid black;
		border-radius: 5px;
		line-height: 1px;
		text-align: center;
		padding: 17px;
		font-weight: 600;
	}
	.featured-comp{
		height: 270px;
		overflow: hidden;
	}
	.featured-comp img:hover{
		opacity: 0.5;
	}
	footer{
		background-color: #222222;
	}
	footer ul{
		margin-left: 50px;
		margin-right: 50px;
		float: left;
		padding: 20px 0 20px 0;
	}
	footer ul span{
		text-transform: uppercase;
		background-color: white;
		display: inline-block;
		color: #575656;
		text-align: center;
		padding: 4px;
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 13px;
	}
	footer ul li a{
		font-size: 12px;
		color: white;
	}
	footer ul li a:hover{
		text-decoration: underline;
		color: white;
	}
	footer form{
		float: right;
		margin-top: 20px;
	}
	footer form span{
		color: white;
		font-size: 13px;
	}
	footer form .button{
		padding: 0 5px;;
	}
	.footer-2 ul{
		margin-left: 20px;
	}
	.footer-2 ul li{
		float: left;
		margin-right: 17px;
	}
	.footer-2-wrapper{
		background-color: #2a2a2b;
	}
	.footer-2 ul li a{
		color: #777;
	}
	.footer-2 ul li a:hover{
		color: white;
	}
	#footerLogo {
		display: block;
		float: left;
		height: 52px;
		width: 65px;
		margin-top: 5px;
		margin-left: 45px;
		opacity: 0.2;
		background: url("../images/guestlist_icon.png") no-repeat scroll -212px -76px transparent;
    }

}
@media screen and (min-width:992px) {
div#mini_share {
  display: none;
}
	.header-wrapper {
		background-color: white;
		padding-top: 40px;
	}
	.header{
		margin: 0 auto 50px auto;
	}
	.nav{
	  display: table;
	  float: none;
	  margin: 0 auto;
	  table-layout: fixed;
	}
	.navbar{
		width: 100%;
		min-height: 30px;
		background: -webkit-linear-gradient(top, #EBEBEB 0%, #ccc);
		border-top: 1px solid #B3B3B3;
		border-bottom: 1px solid #B3B3B3;
		margin-bottom: 0px;
		border-radius: 0px;
	}
	.container{
		height: 30px;
	}
	.nav>li{
		width: 116px;
		text-align: center;
		padding: 0;
		margin: 0;
		line-height: 30px;
		border-right: 1px solid #B3B3B3;
	}
	.nav>li:first-child{
		border-left: 1px solid #B3B3B3;
	}
	.navbar-default .navbar-nav>li>a{
		color: #744596;
		line-height: 1px;
		font-size: 1em;
	}
	.navbar-brand {
		height: 35px;
		padding: 0!important;
		margin-left: 20px!important;
		display: none;
	}
	.second-menu{
		background-color: #606060;
		height: 36px;
		width: 100%;
	}
	.second-nav{
		list-style-type: none;
		background-color: #606060;
		display: table;
		float: none;
		margin: 0 auto;
		table-layout: fixed;
	}
	.second-nav li{
		float: left;
		padding: 7px;
		text-align: center;
		margin-right: 8px;
	}
	.second-nav li a{
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		font-size: 0.88em;
	}
	.container{
		width: 980px;
	}
	.banner-img{
		display: block;
		margin-bottom: 40px;
		width: 923px;
		margin: 0 auto 40px auto;
	}
	.profil{
		display: none;
	}
	.search{
		padding: 0px;
		height: 35px;
		width: 200px;
		background-color: #4d4d4d;
		color: #a9a9a9;
		border: none;
		margin-left: 20px;
		padding-left: 11px;
	}
	.top-menu-wrapper{
		height: 50px;
		background-color: #773d8d;
		width: 100%;
		margin-top: -48px;
	}
	.top-menu{
		width: 969px;
		margin: 0 auto;
		position: relative;
	}
	.join-btn{
		float: left;
		background-color: #FFF;
		border-radius: 2px;
		padding: 9px 3px;
		width: 190px;
		margin-top: 6px;
		font-size: 0.799em;
	}
	.join-btn a{
		background-color: #FFF;
		border: 2px dotted rgb(235,226,238);
		color: rgb(156,98,183);
		padding: 5px 38px;
	}
	.hr-hor{
		border-right: 1px solid white;
		height: 33px;
		margin: 8px 14px;
		float: left;
	}
	.loginHeader{
		padding-top: 11px;
	}
	.loginHeader span{
		color: white;
		display: block;
		margin-right: 28px;
		float: left;
		line-height: 28px;
	}
	.loginHeader input{
		float: left;
		height: 27px;
		margin-right: 15px;
		padding-left: 10px;
		border: 2px solid rgb(156,98,183);
		font-weight: 400;
		width: 150px;
	}
	#forget{
		float: left;
	}
	.forget{
		float: right;
		color: #FFF;
		padding: 0;
		font-size: 11px;
		font-style: italic;
		position: relative;
		left: -77px;
		color: rgb(211, 186, 223);
		top: 6px;
	}
	#loginbtn{
		height: 26px;
		width: 60px;
		background-color: white;
		border-radius: 3px;
		color: #9c62b7;
		margin: 0px 0 0 -53px;
		float: left;
	}
	.top-menu ul{
		float: left;
		color: #fff;
		font-size: 10px;
		margin: -10px 20px;
		list-style-type: none;
	}
	.top-menu li{
		text-align: center;
	}
	.top-menu ul li span{
		color: rgb(173,138,187);
		font-size: 15px;
	}
	.top-menu span{
		color: white;
	}
	#loginFacebook{
		float: left;
		padding: 4px 0px;
		margin-left: 5px;
	}
	#loginFacebook a{
		background: url(../images/guestlist_icon.png) -3px -104px;
		height: 22px;
		width: 23px;
		display: block;
	}
	.top-menu-toggle{
		padding: 5px;
		color: black;
		position: absolute;
		background-color: #773d8d;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		right: 0;
		color: white;
		cursor: pointer;
	}
	.arrowWhite {
		height: 7px;
		width: 14px;
		display: inline-block;
		background: url("../images/guestlist_icon.png") no-repeat scroll -171px -19px;
	}
	.articleItemListElement{
		margin-bottom: 10px;
		border-bottom: 1px solid #DDDDDD;
		padding-bottom: 7px;
	}
	.articleItemListElement figcaption{
		width: 180px;
		float: left;
	}
	.articleItemListElementImgContainer{
		width: 	70px;
		height:	58px;
		float:	left;
		margin-right: 20px;
		overflow: hidden;
	}
	.articleItemListElement a{
		float: left;
		color: black;
	}
	.articleItemListElementContent{
		margin-bottom: 2px !important;
		color: #773D8E;
		margin: 0 0 10px 0;
		white-space: nowrap;
		overflow: hidden;
		font-size: 15px;
		font-weight: 600;
		text-overflow: ellipsis;
	}
	.newspaper{
		width: 100%;
		height: 400px;
	}
	.newspaper-iframe{
		width: 100%;
		height: 380px;
	}
	.row.content{
		margin-bottom: 50px;
	}
	.footer{
		width: 1000px;
		margin: 0 auto;
	}
	.footer-2{
		width: 1000px;
		margin: 0 auto;
	}
}
@media screen and (max-width:992px) {
	.row.content{
		margin-bottom: 35px;
	}
	span.title{
		width: 69%;
		border: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	  background-color: #333333;
	  margin-top: 50px;
	  color: white;
	  border-color: #444444;
	}
	.navbar-default .navbar-nav>li{
		color: white;
		text-align: center;
		font-size: 1em;
		border-bottom: 1px solid #444444;
	}
	.navbar-default .navbar-nav>li>a:hover{
		color: #744596;
	}
	.navbar-default .navbar-nav>li>a{
		color: white;
	}
	.navbar-default .navbar-nav>li:last-child{
		border: none;
	}
	.container{
		width: 100%;
	}
	.second-nav{
		display: none;
	}
	.content-container{
		width: 90%!important;
		margin: 0 auto;
	}
	.news-menu{
		text-align: center;
	}
	.readNewsTable{ 		width: 100%!important; 	}
	.readNewsCellLeft{		width: 100%!important;	}
	.news-mainsection img{	width: 98%!important;	}
	.readNewsCellLeft div{	width: 100%!important; margin-bottom: 10px;	}
	
	.news-menu-right-title h3{
		float: none;
		text-align: center;
	}
	.news-menu-right-options{
		margin: 0 auto;
		width: 100%;
	}
	.news-flash{
		text-align: center;
	}
	.news-menu-right-title h3{
		margin-bottom: 20px;
	}
	.articleItemListElement{
		width: 42%;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
	}
	.articleItemListElementImgContainer{
		width: 100%;
		height: 140px;
		overflow: hidden;
		margin-bottom: 8px;
	}
	.articleItemListElement a{
		color: #606569;
		font-size: 13px;
	}
	.articleItemListElementContent{
		margin-bottom: 2px !important;
		color: #773D8E;
		margin: 0 0 10px 0;
		white-space: nowrap;
		overflow: hidden;
		font-size: 19px;
		font-weight: 600;
		text-overflow: ellipsis;
	}
	.news-flash .active-news-title{
		margin-bottom: 50px;
	}
	.flash-img {
		height: 60%;
	}
	.readNewsBox div{
		width: 65%;
	}
	.readNewsBox p{
		width: 100%;
	}
	.news_flash_first h4{
		font-size: 13px;
	}
	.newspapers {
		width: 100%;
		height: 250px;
	}
	.newspaper-single{
		float: left;
		margin-left: 5px;
		margin-right: 5px;
		width: 31%;
		margin-bottom: 13px;
	}
	.newspaper-single h3{
		font-size: 1.3em;
		color: #773D8E;
		text-align: center;
		display: block;
		font-weight: bold;
	}
	.featured-comp{
		width: 83%;
		margin: 0 auto;
		text-align: center;
	}
	.footer-list{
		width: 84%;
		margin: 0 auto;
	}
	footer ul{
		margin-left: 3%;
		margin-right: 3%;
	}
	.footer{
		width: 100%;
	}
	.footer-2{
		width: 100%;
	}
	
}


@media screen and (max-width:766px) {


}

.top-menu-wrapper-toggle {
    margin-top: 0;
}

.rotateArrow {
    transform: rotate(180deg);
    transition: transform 500ms ease;
}

.menuArrow {
    transform: rotate(0deg);
    transition: transform 500ms ease;
}